.app-table {
  padding-top: 57px;
  padding-bottom: 57px;
}
.app-table-caption {
  border-radius: 3px 3px 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.03);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font: var(--text-tertiary-l);
  color: #333;
}

.app-table-container {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05),
    0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  padding-left: 36px;
  padding-right: 55px;
  box-sizing: border-box;
}
.app-table-heading {
  padding-top: 32px;
  padding-bottom: 21px;
  
}

.app-table-heading-column {
  color: var(--black-main, #101828);
  font: var(--text-primary-xl);
}

.app-table-body-row {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 10px; /* Confirm from design if we need this */
  padding-right: 10px; /* Confirm from design if we need this */
  border-top: 1px solid #E4E4E4;
  cursor: pointer;
}

.app-table-heading-row,
.app-table-body-row {
  display: flex;
  justify-content: space-between;
}


/*.display-product-name*/ .views-field-rendered-entity {
  display: block;
  font-size: 18px;
  font-family: var(--tertiary-font);
}

.views-field-rendered-entity .visually-hidden, .views-field-rendered-entity img{
  padding-top: 10px;
}

/*.display-product-action*/ .views-field-rendered-entity .form-actions{
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--page-muted-tone);
  background: var(--page-white);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-top: 20px;
  background-image: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.4" d="M19.24 5.88011H18.84L15.46 2.50011C15.19 2.23011 14.75 2.23011 14.47 2.50011C14.2 2.77011 14.2 3.21011 14.47 3.49011L16.86 5.88011H7.14L9.53 3.49011C9.8 3.22011 9.8 2.78011 9.53 2.50011C9.26 2.23011 8.82 2.23011 8.54 2.50011L5.17 5.88011H4.77C3.87 5.88011 2 5.88011 2 8.44011C2 9.41011 2.2 10.0501 2.62 10.4701C2.86 10.7201 3.15 10.8501 3.46 10.9201C3.75 10.9901 4.06 11.0001 4.36 11.0001H19.64C19.95 11.0001 20.24 10.9801 20.52 10.9201C21.36 10.7201 22 10.1201 22 8.44011C22 5.88011 20.13 5.88011 19.24 5.88011Z" fill="%231B60BE"></path><path d="M19.65 11.0002H4.35996C4.06996 11.0002 3.74996 10.9902 3.45996 10.9102L4.71996 18.6002C4.99996 20.3202 5.74996 22.3002 9.07996 22.3002H14.69C18.06 22.3002 18.66 20.6102 19.02 18.7202L20.53 10.9102C20.25 10.9802 19.95 11.0002 19.65 11.0002ZM12 18.8002C9.65996 18.8002 7.74996 16.8902 7.74996 14.5502C7.74996 14.1402 8.08996 13.8002 8.49996 13.8002C8.90996 13.8002 9.24996 14.1402 9.24996 14.5502C9.24996 16.0702 10.48 17.3002 12 17.3002C13.52 17.3002 14.75 16.0702 14.75 14.5502C14.75 14.1402 15.09 13.8002 15.5 13.8002C15.91 13.8002 16.25 14.1402 16.25 14.5502C16.25 16.8902 14.34 18.8002 12 18.8002Z" fill="%231B60BE"></path></svg>');
  background-repeat: no-repeat;
  background-position: 95%;
}

.views-field-rendered-entity .page-form-group {
  display: none;
}

.views-field-rendered-entity .form-actions input  {
  font: var(--text-primary-s);
  font-weight: var(--primary-font-semibold);
  color: var(--page-blue);
  text-decoration: none;
  background: var(--page-white);
  border: none;
}

.cart-product {
  display: flex;
  gap: 28px;
  align-items: center;
}

.cart-product-image-container {
  height: 61px;
  width: 61px;
  border-radius: 3.05px;
  border: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
}

.cart-product-image-container img {
  width: 95%;
  object-fit: cover;
}

.cart-product-image-container {
  display: block;
}

.cart-product-image-container .variation-price{
  display: none;
}

.app-table-action-callout {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 50px;
  display: inline-block;
  font: var(--text-primary-xl);
  color: var(--page-blue);
}


.app-table-action-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
}

.col-one {width: 27%;}
.col-two { width: 15%; }
.col-three { width: 15%; }
.col-four { width: 15%;  }

.app-table-column {
  display: flex;
  align-items: center;
}

.cart-context-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart-context-info .delete-order-item {
  text-decoration: none;
  color: var(--page-red);
  border: none;
}

.cart-context-pill {
  border-radius: 16px;
  background: #ECFDF3;
  color: #12B76A;
  font:var(--text-primary-s);
  padding: 3px 11px;
  font-weight: var(--primary-font-bold);
  /* position: relative; */
  left: 17px;
  bottom: 60px;
}

.app-table-action-buttons {
  display: flex;
  gap: 8px;
}

.bordered-page-section {
  border-radius: 8px;
border: 1px solid  #E4E7EC;
background: var(--page-white);
box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
  padding-top: 34px;
  margin-top: 49px;
  margin-bottom: 44px;
}

.bordered-section-padding {
  padding-left: 39px;
  padding-right: 35px;
}

.info-pane {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-pane-stats {
  display: flex;
  gap: 18px;
}

.info-pane-stat {
  border-radius: 5px;
border: 1px solid #E4E7EC;
background: #FFF;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  padding-left: 18px;
  width: 224px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.info-pane-stat-icon {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  background:#F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-pane-stat-info-heading {
  color: #333;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.14px;
}

.info-pane-stat-info-subheading{
  color: var(--gray, #667085);
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.14px;
  margin-top: 5px;
}

.info-pane-action {
  display: flex;
  gap: 11px;
}

.section-caption {
  padding-top: 36px;
  padding-bottom: 30px;
  color: #333;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.15px;
}

.section-content-footer {
  border-top: 1px solid #E4E7EC;
  padding-top: 10px;
  padding-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-pagination-buttons {
  display: flex;
  gap: 12px;
}

.pagination-btn {
  border-radius: 6px;
border: 1px solid var(--gray-300, #D0D5DD);
background: var(--white, #FFF);

/* Shadow/xs */
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 9px 17px;
  color: var(--black-main, #101828);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.footer-pagination-info {
  color: var(--black-main, #101828);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.app-table-alt {
  /* padding-top: 57px; */
  padding-bottom: 57px;
}
.app-table-alt-caption {
  border-radius: 3px 3px 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.03);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font: var(--text-tertiary-l);
  color: #333;
}

.app-table-alt-container {
  border-radius: 5px;
  background: #fff;
  /* box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05),
    0px 2px 4px 0px rgba(0, 0, 0, 0.06); */
  /* padding-left: 36px; */
  /* padding-right: 55px; */
  box-sizing: border-box;
}
.app-table-alt-heading {
  /* padding-top: 32px; */
  /* padding-bottom: 21px; */
  border: 1px solid #E4E7EC;
  /* border-left: 1px solid #E4E7EC; */
  background: #FFF;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.app-table-alt-heading-column {
  /* color: var(--black-main, #101828); */
  /* font: var(--text-primary-xl); */
  color: #333;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.app-table-alt-body-row {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left:  24px;
  padding-right: 24px;
  /* border-top: 1px solid #E4E4E4; */
  color: #666;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app-table-alt-heading-row,
.app-table-alt-body-row {
  display: flex;
  justify-content: space-between;
}

.app-table-alt-action-callout {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 50px;
  display: inline-block;
  font: var(--text-primary-xl);
  color: var(--page-blue);
}


.app-table-alt-action-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
}

.alt-table-col-one {width: 25%;}
.alt-table-col-two { width: 15%; }
.alt-table-col-three { width: 15%; }
.alt-table-col-four { width: 10%;  }
.alt-table-col-five { width: 10%;  }

.app-table-alt-column {
  display: flex;
  align-items: center;
}

 
 

.app-table-alt-action-buttons {
  display: flex;
  gap: 8px;
}

.app-table-alt-body-row:nth-child(even) {
  background:#F9FAFB;
}

.app-table-body-row:nth-child(even) { /* Confirm from design if we need this */
  background:#F9FAFB;
}

.alt-table-action-link {
  color: var(--page-blue);
}

.icon-bg-danger {
  background: rgba(255, 85, 85, 0.12);
}

.double-context {
  flex-direction:column;
}

.double-context .cart-context-pill {
  font-size: 10px;
}