
.main-discover-content-section{
  margin-top: 50px;
}

.dialog-opened {
  display: block !important;
}

.dialog-full-height {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999999999999;
  width: 100%;
  height: 100%;
  background: #00000085;
  display: none;
}

/* .dialog-full-height-white-bg {
  background-color: white;
} */

.dialog-container {
  padding-top: 10px;
  width: 445px;
  background: var(--page-white);
  border-left: 1px solid var(--page-muted-tone);
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
}

.dialog-section {
  padding-left: 20px;
}

.dialog-heading {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--page-muted-tone);
  margin-bottom: 6px;
  align-items: center;
  gap: 12px;
}
.dialog-heading-text {
  font: var(--text-primary-xl);
  font-weight: var(--primary-font-bold);
}

.dialog-heading-nav-icon {
  height: 24px;
  cursor: pointer;
}

.dialog-sub-heading {
  margin-bottom: 21px;
}

.dialog-sub-heading-text {
  color: var(--text-muted-color);
  font: var(--text-primary-n);
}

.dialog-filter-control {
  display: flex;
  border: 1px solid var(--page-muted-tone);
  border-radius: 8px;
  width: 90%;
  padding: 10px 14px;
  justify-content: space-between;
  align-items: center;
  box-sizing:border-box;
  margin-bottom: 42px;
}
.dialog-input-container {
  width: 85%;
}
.dialog-input {
  color: var(--text-muted-color);
  font: var(--text-primary-n);
  outline: none;
  border: none;
  width: 100%
}

.dialog-input::placeholder {
  color: var(--text-muted-color);
  font: var(--text-primary-n);
}

.dialog-filter-content {
  margin-bottom: 20px;
}

.dialog-filter-content-text {
  margin-bottom: 21px;
}

.page-centered-mast {
  background: var(--page-blue);
  position: relative;
  padding-top: 45px;
}

.mast-image-container {
  display: inline;
  position: absolute;
  bottom: -3px;
  z-index: 1;
}
.mast-image-right {
  right: 0px;
}

.mast-image-left {
  left: 0px;
}
.mast-image {
  /* height: 301px */
  z-index: 1;
}

.centered-mast-heading {
  text-align: center;
  color: var(--page-white);
font-family: var(--primary-font);
font-size: 50px;
font-weight: 700;
line-height: 65px; /* 130% */
letter-spacing: -1px;
}

.centered-mast-subheading {
  margin-top: 18px;
  color: var(--page-white);
font: var(--text-primary-n);
  font-weight:var(--primary-font-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.centered-mast-subheading-text {
  max-width: 474px;
  text-align: center;
}

.centered-mast-content {
  display: flex;
  justify-content: center;
  z-index: 999999;
  position: relative;
}

.centered-mast-filter-controls {
  display: flex;
  gap: 21px;
  margin-top: 40px;
  margin-bottom: 64px;
}

.app-custom-dropdown {
  display: flex;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: var(--page-white);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding:10px 14px;
  justify-content: space-between;
  color: var(--text-muted-color);
  cursor: pointer;
}
.custom-dropdown-label {
  padding-right: 40px;
  font: var(--text-primary-n);
  font-weight: var(--primary-font-regular-light);
  border: solid 2px #fff; /* for raw select input */
  color: var(--text-muted-color); /* for raw select  input */
}
.custom-dropdown-icon {
  height: 24px;
}

.app-input-container {
  position: relative;
}

.app-input {
  padding:10px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: var(--page-white);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--text-muted-color);
  font: var(--text-primary-n);
  font-weight: var(--primary-font-regular-light);
  outline: none;
  width: 180px; /* when other elements are select */
}

.app-input-product-name {
  padding-right: 55px;
}

.app-input-icon {
  position: absolute;
  right: 18px;
  top: 11px;
  height: 24px;
}
.app-input-search {
  background-color: black;
  border-color: black;
  color: white;
  display:  flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.app-input-search::placeholder {
  color: #333;
  font-weight: var(--primary-font-regular);
}

.top-brands-section {
  padding-top: 45px;
  margin-bottom: 38px;
  padding-right: 38.75px;
  padding-left: 38.75px;
}
.top-brands-heading {
  color: #333;
  font: var(--text-primary-n);
  font-weight: var(--primary-font-medium);
  letter-spacing: -0.16px;
  margin-bottom: 17px;
}


.top-brands-images {
  display: flex;
  justify-content: space-between;
}

.top-brand-image-container {
  width: 107px;
  height: 40px;
  border-radius: 5px;
border: 1px solid var(--page-muted-tone);
background: var(--page-white);
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-brand-image {
  max-height: 80.5%;
  max-width: 85%;
}

.top-brand-image-slightly-bigger {
 
    max-height: 99%;
    max-width: 90%;
 
}


.display-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 16px;
}

.display-product {
  padding: 37px 17px 16.5px 17px;
  border: 1px solid var(--page-grey-accented);
  box-sizing: border-box;
}
.display-product-image-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
}
.display-product-image {
  max-height: 150px;
  max-width: 150px;
}

.views-field-rendered-entity .variation-image,.views-field-rendered-entity .variation-price, 
.views-field-rendered-entity .variation-price-list-price, 
.views-field-rendered-entity .field--widget-commerce-product-variation-attributes, 
.views-field-rendered-entity .product-variation{
  margin-bottom: 15px;
}

.views-field-rendered-entity .product-brand{
  margin-bottom: 5px;
}

.views-field-rendered-entity .product-brand a{
  text-decoration: none;
}

/*.display-product-action*/ .views-field-rendered-entity .form-actions{
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--page-muted-tone);
  background: var(--page-white);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  margin-top: 20px;
  background-image: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.4" d="M19.24 5.88011H18.84L15.46 2.50011C15.19 2.23011 14.75 2.23011 14.47 2.50011C14.2 2.77011 14.2 3.21011 14.47 3.49011L16.86 5.88011H7.14L9.53 3.49011C9.8 3.22011 9.8 2.78011 9.53 2.50011C9.26 2.23011 8.82 2.23011 8.54 2.50011L5.17 5.88011H4.77C3.87 5.88011 2 5.88011 2 8.44011C2 9.41011 2.2 10.0501 2.62 10.4701C2.86 10.7201 3.15 10.8501 3.46 10.9201C3.75 10.9901 4.06 11.0001 4.36 11.0001H19.64C19.95 11.0001 20.24 10.9801 20.52 10.9201C21.36 10.7201 22 10.1201 22 8.44011C22 5.88011 20.13 5.88011 19.24 5.88011Z" fill="%231B60BE"></path><path d="M19.65 11.0002H4.35996C4.06996 11.0002 3.74996 10.9902 3.45996 10.9102L4.71996 18.6002C4.99996 20.3202 5.74996 22.3002 9.07996 22.3002H14.69C18.06 22.3002 18.66 20.6102 19.02 18.7202L20.53 10.9102C20.25 10.9802 19.95 11.0002 19.65 11.0002ZM12 18.8002C9.65996 18.8002 7.74996 16.8902 7.74996 14.5502C7.74996 14.1402 8.08996 13.8002 8.49996 13.8002C8.90996 13.8002 9.24996 14.1402 9.24996 14.5502C9.24996 16.0702 10.48 17.3002 12 17.3002C13.52 17.3002 14.75 16.0702 14.75 14.5502C14.75 14.1402 15.09 13.8002 15.5 13.8002C15.91 13.8002 16.25 14.1402 16.25 14.5502C16.25 16.8902 14.34 18.8002 12 18.8002Z" fill="%231B60BE"></path></svg>');
  background-repeat: no-repeat;
  background-position: 95%;
}

.views-field-rendered-entity .page-form-group {
  display: none;
}

.views-field-rendered-entity .form-actions input  {
  font: var(--text-primary-s);
  font-weight: var(--primary-font-semibold);
  color: var(--page-blue);
  text-decoration: none;
  background: var(--page-white);
  border: none;
}

.display-product-action-icon {
  height: 24px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 99.6px;
  padding-bottom: 67.1px;
}

.pagination {
list-style: none;
display: flex;  
}

.pagination-item-first {
  border-radius:3.2px 0px 0px 3.2px;
}

.pagination-item-last {
  border-radius:0px 3.2px 3.2px 0px;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--page-grey-accented);
  height: 36px;
  width: 36px;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: -1px;
  color: #818A91;
}

.pagination-item-link {
  text-decoration: none;
  color: inherit;
  font-family: var(--tertiary-font);
  font-size: 11.2px;
  line-height:14px;
}

.pagination-item-active {
  background: var(--page-blue);
  color: var(--page-white);
  border: 1px solid var(--page-blue);
}

.pagination-item-disabled {
  background: var(--page-grey-accented);
  color: #818A91;
}

.animate__animated.animate__slideInRight {
  --animate-duration: 350ms;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 350ms;
}

.page-section-container-with-sidebar {
  padding-left: var(--primary-page-padding);
  padding-right: var(--primary-page-padding);
  background: var(--page-white);
  display: flex;
  flex: 0 1 auto;
  gap: 29px;
}

.page-section-container-with-sidebar .page-section, .page-section-container-with-sidebar .page-columned-section {
  padding-left: 0px;
  padding-right: 0px;
  flex-grow: 1;
}

.page-sidebar {
  width: 243px;
  padding-top: 45px;
  box-sizing: border-box;
}

.page-side-bar-container {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  padding-top: 19px;
  padding-bottom: 190px;
  background: #FFF;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.06), 0px 4px 8px -2px rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
}

.page-side-bar-menu {
  list-style: none;
}

.page-side-bar-menu-item-link {
  text-decoration: none;
  color: var(--text-muted-color);
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
letter-spacing: -0.15px;
  padding: 10px 20px
}

.page-side-bar-menu-item-icon {
  height: 24px;
}

.page-side-bar-menu-item-link-danger {
  color: var(--page-red);
}


.page-side-bar-menu-item-link-hoverable:hover {
  color:var(--page-blue);
}

.page-side-bar-menu-item-link-hoverable:hover svg{
  fill:var(--page-blue);
}

.page-side-bar-menu-item-link-active {
  color:var(--page-blue);
}

.page-side-bar-menu-item-link-active svg {
  color:var(--page-blue);
}


.logged-in-user-text {
  color: var(--page-blue);
  font-weight: var(--primary-font-medium);
}

.cta-item-link-icon {
  height: 24px;
}

.cta-logged-in-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-smaller-padding {
  padding: 10px 10px;
}

.header-cta-logged-in {
  gap: 0px;
}

.search-button-icon {
  height: 24px;
}